/* .contact {
  height: auto;
} */

.iconContainer {
  margin: 10% 0 10% 0;
  background-color: rgb(83, 113, 136);

  height: fit-content;
  margin-right: 3%;
  z-index: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.icon {
  height: 90px;
  width: 90px;
}

@media screen and (max-width: 500px) {
  .iconContainer {
    margin-top: 50px;
    display: grid;
    grid-template: 80px 80px 80px / 1fr 1fr;
    justify-items: center;
  }
  .icon {
    height: 60px;
    width: 60px;
  }
}
@media screen and (max-height: 560px) {
  .icon {
    height: 60px;
    width: 60px;
  }
}
@media screen and (max-width: 770px) {
  .icon {
    height: 60px;
    width: 60px;
  }
}
